{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{ with .PublishDate }}
  {{ if .IsZero }}
    <time datetime="{{ $.Date.Format "2006-01-02T15:04:05-07:00" }}">{{ $.Date.Format "January 2, 2006" }}</time>
  {{ else }}
    <time datetime="{{ .Format "2006-01-02T15:04:05-07:00" }}">{{ .Format "January 2, 2006" }}</time>
  {{ end }}
{{ end }}
{{- end }}

{{- printf " · " -}}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}


{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "&nbsp;·&nbsp; %d min" .ReadingTime))) }}
{{- end }}


{{- .Params.author -}} 
{{- printf " · " -}}


{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
