{{ $dynamicmenuid := "aspose-en"}}
{{ if .Site.IsMultiLingual }}
    {{ if (index site.Params.dynamicmenuid .Site.LanguageCode)}}
        {{ $dynamicmenuid = (index site.Params.dynamicmenuid .Site.LanguageCode) }}
    {{ end }}
{{ end }}

<script>
    (function(i, s, o, g, r, a, m) {i['ContainerizeMenuObject'] = r; i[r] = i[r] || function() {(i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.append(a)})(window, document, 'script', 'https://menu.containerize.com/scripts/engine.min.js?v=1.0.1', '{{ $dynamicmenuid }}');
</script>